/* .red{
    background-color: red;
    color: white;
}

.green{
    background-color: green;
    color: aqua;
} */

*{
    /* shortcut --> m0+p0 */
    margin: 0;
    padding: 0;
}
.red{
    /* yaha per rgb ak function ki tarah kam kar raha hai, jo tin value ko letha hai usase ak new color produce karta hai */
    /* a stands for alpha */
    background-color: rgba(69, 27, 27, 0.985);
    height:344px;
    color:white
}
.green{
    background-color: green;
    color: aqua;
}